<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Groupe Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>


<body>
<!-- Include the navbar from the fragments folder-->
<div th:replace="fragments/navbarFragment :: navbar"></div>



<div class="container mt-5">
  <h2 class="mb-4">Groupe Details</h2>

  <!-- Group information -->
  <div class="mb-4">
    <h4>Nom du Groupe:</h4>
    <p th:text="${groupe.nomGroupe}"></p>

    <h4>Total Employés:</h4>
    <p th:text="${activeEmployeeCount}"></p> <!-- Displays count of active employees -->
  </div>



  <h4>Employés dans ce Groupe:</h4>
  <table class="table table-striped table-dark mt-3">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom & Prénom</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employe : ${activeEmployees}">
      <td th:text="${employe.codeEmploye}"></td>
      <td th:text="${employe.nomEmploye}"></td>
    </tr>
    </tbody>
  </table>


  <!-- Links for editing the group and adding a new employee-->
  <div class="mt-4">
    <a th:href="@{/groupes/{id}/edit(id=${groupe.codeGroupe})}" class="btn btn-primary">Edit Group</a>
    <a th:href="@{/groupes/{id}/addEmployee(id=${groupe.codeGroupe})}" class="btn btn-success">Add Employee</a>
    <a th:href="@{/groupes}" class="btn btn-secondary">Back to List</a>
  </div>
</div>
</body>
</html>
